*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
h1,
h2 {
  margin: 0;
}

ul,
ol {
  list-style: none;
}

button {
  display: block;
  background-color: transparent;
  border: none;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #080808;
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(180, 180, 180) 100%);
}

.pricing-table__section {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f7f7f7;
  padding: 35px;
  border-radius: 35px;
  box-shadow: 10px 10px 25px 0px rgba(50, 50, 50, 0.85);
  -webkit-box-shadow: 10px 10px 25px 0px rgba(50, 50, 50, 0.85);
  -moz-box-shadow: 10px 10px 25px 0px rgba(50, 50, 50, 0.85);
}

@media screen and (max-width: 1024px) {
  .pricing-table__section {
    padding: 35px 20px;
  }
}
@media screen and (max-width: 800px) {
  .pricing-table__section {
    padding: 25px 10px;
  }
}
.table {
  margin-bottom: 30px;
}
.table__head h1 {
  margin-bottom: 25px;
  font-size: 32px;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px rgba(50, 50, 50, 0.85);
}
.table__body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.table__body__row {
  display: flex;
  flex-direction: column;
  width: 32%;
  padding: 10px;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
}
.table__body__row--basic {
  border-color: #0077B6;
}
.table__body__row--standart {
  border-color: #023E8A;
}
.table__body__row--premium {
  border-color: #03045E;
}
.table__body__cell--heading {
  margin: -10px -10px 15px -10px;
  padding: 10px;
  color: #f7f7f7;
  text-align: center;
}
.table__body__cell--basic {
  background-color: #0077B6;
  border-color: #0077B6;
}
.table__body__cell--standart {
  background-color: #023E8A;
  border-color: #023E8A;
}
.table__body__cell--premium {
  background-color: #03045E;
  border-color: #03045E;
}
.table__body__cell--pricing {
  background-color: transparent;
}
.table__body__cell--pricing ul {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: inherit;
  margin-bottom: 15px;
}
.table__body__cell--pricing ul[data-billing-plan=monthly] li:first-child {
  transform: scale(1.5);
}
.table__body__cell--pricing ul[data-billing-plan=yearly] li:last-child {
  transform: scale(1.5);
}
.table__body__cell--pricing ul li {
  margin: 0 auto 10px;
  width: max-content;
  transform: scale(0.9);
  transition: transform 0.4s linear;
}
.table__body__cell--pricing ul li strong {
  position: relative;
  display: inline-block;
  margin-right: 12px;
}
.table__body__cell--pricing ul li strong::before {
  content: "$";
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
}
.table__body__cell--pricing ul li em {
  position: relative;
  color: #626262;
  font-size: 14px;
}
.table__body__cell--pricing ul li em::before {
  content: "/";
  position: absolute;
  top: 50%;
  left: -8px;
  transform: translateY(-50%);
}
.table__body__cell--features ul {
  margin-bottom: 15px;
}
.table__body__cell--features ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 0;
}
.table__body__cell--features ul li span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  min-width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #f7f7f7;
}
.table__body__cell--features ul li.allowed span {
  background-color: #008000;
}
.table__body__cell--features ul li.forbidden span {
  background-color: #BF0603;
}
.table__body__cell--buy {
  position: relative;
  margin: 0 -10px -10px -10px;
  padding: 10px;
  color: #f7f7f7;
  height: 55px;
}
.table__body__cell--buy button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #f7f7f7;
  border: 2px solid inherit;
  transition: box-shadow 0.4s linear;
}
.table__body__cell--buy button:hover {
  box-shadow: inset 0 -55px 0 0 #008000;
}

@media screen and (max-width: 800px) {
  .table__body__row {
    width: 33%;
  }
  .table__body__cell--features ul li {
    padding: 5px 0;
  }
  .table__body__cell--features ul li span {
    width: 25px;
    min-width: 25px;
    height: 25px;
  }
}
@media screen and (max-width: 640px) {
  .table {
    margin-bottom: 20px;
  }
  .table__body {
    flex-direction: column;
  }
  .table__body__row {
    width: 100%;
    margin-bottom: 15px;
  }
  .table__body__row:last-child {
    margin-bottom: 0;
  }
}
.pricing-table__billing {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  border: none;
}
.pricing-table__billing legend {
  display: block;
  margin-bottom: 15px;
  grid-column: 1/-1;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
.pricing-table__billing label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  min-width: 125px;
  padding: 10px 15px 10px 25px;
  border-radius: 10px;
  border: 1px solid #626262;
  color: #626262;
  transition: color 0.4s linear, background-color 0.4s linear, border-color 0.4s linear;
}
.pricing-table__billing label:first-of-type {
  margin-left: auto;
}
.pricing-table__billing label input {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}
.pricing-table__billing label p {
  position: relative;
}
.pricing-table__billing label p::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -25px;
  display: block;
  width: 15px;
  height: 15px;
  border: 3px solid #626262;
  border-radius: 50%;
  background-color: #626262;
  transition: background-color 0.4s linear, border-color 0.4s linear;
}
.pricing-table__billing label.active {
  color: #f7f7f7;
  background-color: #008000;
  border-color: #008000;
}
.pricing-table__billing label.active p::before {
  background-color: #008000;
  border-color: #f7f7f7;
}

@media screen and (max-width: 640px) {
  .pricing-table__billing {
    gap: 15px;
  }
  .pricing-table__billing label {
    min-width: 115px;
    padding: 10px 15px 10px 25px;
  }
}

/*# sourceMappingURL=style.css.map */
